<%inherit file="base.html"/>


<h2>Status</h2>
<table>
    % for row in data:
        ${makerow(row)}
    % endfor
</table>

<%def name="makerow(row)">
    <tr>

      <td class="name-col">${row.get('name')}</td>
      % if row.get('status_code') != 200:
          <td class="status-col not-ok">
      % else:
          <td class="status-col" >
      % endif
      ${row.get('status_code')} ${row.get('response_time')}</td>
    </tr>
</%def>


<h2>Subscribe or Unsubscribe</h2>
<div id="subscribe">

  <form role="form" method="post" action="/subscribe">

    <fieldset>
      <label for="inpEmail">Email</label>
      <input type="email" id="inpEmail" name="email" placeholder="me@example.com">
    </fieldset>
    
    <center><strong>OR</strong></center>

    <fieldset>
      <label for="inpPhone">Phone</label>
      <input type="tel" pattern="\d{1}[\-]\d{3}[\-]\d{3}[\-]\d{4}" id="inpPhone" name="phone" placeholder="1-303-777-1234">
    </fieldset>
    <input type="submit" value="Submit" />

  </form>
</div>    
